@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
:root {
    --foreground-rgb: 235, 235, 235;
    --background-start-rgb: 50, 50, 60;
    --background-end-rgb: 50, 50, 60;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-weight: bold;
  font-size: 60px;
}

h2 {
  font-weight: bold;
  font-size: 40px;
}

h3 {
  font-weight: bold;
  font-size: 24px;
}

h4 {
  font-weight: normal;
  font-size: 18px;
}

h5 {
  font-weight: normal;
  font-size: 14px;
}

.container {
  display: grid;
  grid-template-rows: 50px 400px 100px 400px 100px 400px 100px 400px 100px 400px 100px;
  grid-template-columns: 150px 400px auto 400px 150px;
}

.item-1 {
  grid-area: 2 / 2 / 3 / 3
}

.item-2 {
  grid-area: 2 / 4 / 3 / 5
}

.item-3 {
  grid-area: 4 / 2 / 5 / 3
}

.item-4 {
  grid-area: 4 / 4 / 5 / 5
}

.item-5 {
  grid-area: 6 / 2 / 7 / 3
}

.item-6 {
  grid-area: 6 / 4 / 7 / 5
}

.item-7 {
  grid-area: 8 / 2 / 9 / 3
}

.item-8 {
  grid-area: 8 / 4 / 9 / 5
}

.item-9 {
  grid-area: 10 / 2 / 11 / 3
}